API_KEY_FOOTBALL_DATA=your_football_data_api_key

DAGSHUB_REPO_OWNER=your_dagshub_username
DAGSHUB_REPO_NAME=chute-certo
MLFLOW_TRACKING_USERNAME=your_dagshub_username
MLFLOW_TRACKING_PASSWORD=your_dagshub_token

TURSO_URL=libsql://your-database.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token

MODEL_URI=models:/brasileirao-predictor/latest
